<%= form_for(@project) do |f| %>
  <div>
    <%= f.label "Name Your Diversion" %>
    <%= f.text_field :name %>
  </div>
  <div>  
    <%= f.label "Describe Your Diversion" %>
    <%= f.text_area :description %>
  </div>
  <div>  
    <%= f.label "Start Date" %>
    <%= f.datetime_select :start_at %>
  </div>
  <div>  
    <%= f.label "End Date" %>
    <%= f.datetime_select :end_at %>
  </div>
    <%= f.label "Add file or image" %>
    <%= f.file_field :file %>
  </p>

  <%= f.submit %>
<% end %>

