<div>
      <h1> <%= @project.name %> </h1>
      <div> <%= image_tag @project.file_url (:large) %> </div>
      <p><%= @project.description %></p>
      <p>Starts on: <%= @project.start_at.to_time.strftime('%A, %d %b %Y %l:%M %p') %></p>
      <p>Ends on: <%= @project.end_at.to_time.strftime('%A, %d %b %Y %l:%M %p') %></p>
</div>
<p><%= link_to "Edit This Diversion", edit_project_path(@project) %></p>
<p><%= link_to "Back to Daily Diversions", projects_path %></p>


