<div>
      <h1> <%= @project.name %> </h1>
      <%= @project.description %>
      <%= @project.start_at %>
      <%= @project.end_at %>
</div>
<h2><%= link_to "Edit This Diversion", edit_project_path(@project) %></h2>
<h2><%= link_to "Back to Daily Diversions", projects_path %></h2>


